@media screen and (max-width: 930px) {
    .view-addr {
        display: none;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #edeef0;
    color: #4c4c4c;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
    padding: 20px;
    margin: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, textarea {
    border: 1px solid #edeef0;
    border-radius: 5px;
    padding: 5px;
    resize: none;
}

textarea {
    width: 100%;
    height: 130px;
}

a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #7a7a7a;
}

.logo {
    width: 380px;
}

#generate {
    width: 90%;
    max-width: 900px;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.result__text, .html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result__text {
    width: 100%;
}

.html {
    width: 100%;
}

#html {
    height: 100px;
}

.bottom {
    color: #7a7a7a;
    text-align: center;
}

#app {
    background-color: #ce5e14;
    text-align: center;
    font-weight: bold;
    padding: 12px;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
}

.view-addr {
    text-align: center;
    margin-top: 30px;
}

#address {
    width: 100%;
}