@media screen and (max-width: 930px) {
    .view-addr {
        display: none;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #edeef0;
    color: #4c4c4c;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
}

input, textarea {
    border: 1px solid #edeef0;
    border-radius: 5px;
    resize: none;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 130px;
}

a, a:visited, a:active, a:hover {
    color: #7a7a7a;
    text-decoration: none;
}

.logo {
    width: 380px;
}

.generate {
    width: 90%;
    max-width: 900px;
}

.address {
    width: 100%;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.result__text, .html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result__text {
    width: 100%;
}

.html {
    width: 100%;
}

.html > div {
    height: 100px;
}

.button {
    background-color: #ce5e14;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 12px;
}

.button:hover {
    color: white;
}

.view__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.view__address > div {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
}

.footer {
    color: #7a7a7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
